html {
  font-size: 16px;
  line-height: 20px;
}
// HajjQuery view css
// Colors
$primary-black: #000;
$secondary-black: #2d2d2d;
$primary-white: #fff;
$primary-gold: #ffb519;
$secondary-gold: #ffd700;
$primary-red: #bb303b;
$primary-blue: #007bff;

.red-heading {
  color: $primary-red;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.package-container {
  font-family: 'Inter', sans-serif;
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background: $primary-white;
  color: $primary-black;
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    background: $primary-black;
    color: $primary-white;
    padding: 20px 28px 15px 28px;
    text-align: center;
    border-bottom: 3px solid $primary-gold;

    .logo-container {
      display: flex;
      justify-content: space-between;

      .company-info {
        .company-name {
          color: $primary-gold;
          font-size: 30px;
          margin-top: 3px;
          font-weight: 900;
        }

        .subtitle {
          text-align: center;
          line-height: 30px;
          padding: 0 15px 12px 15px;
          background: $primary-red;
          color: white;
          border-radius: 6px;
          font-size: 18px;
          margin-top: 12px;
          display: inline-block;
        }
      }
      .logo {
        width: 90px;
        height: 90px;
      }
    }

    .main-title {
      color: $primary-gold;
      text-align: center;
      font-size: 38px;
      font-weight: 500;
      margin-top: 15px;
      font-family: 'Inter', sans-serif !important;
    }
  }

  .package-content {
    background: rgb(187, 255, 244);
    background: linear-gradient(
      171deg,
      rgba(187, 255, 244, 1) 0%,
      rgba(220, 239, 255, 1) 43%,
      rgba(214, 223, 255, 1) 100%
    );
    padding: 24px 30px;
    height: 100%;

    .greeting {
      margin: 0 0 24px 0;
      font-weight: 500;
      p {
        font-size: 18px;
      }
    }

    .package-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      .left-section {
        .info-list {
          display: flex;
          flex-direction: column;
          gap: 14px;
        }
      }
      .right-section {
        .pricing-list {
          display: flex;
          flex-direction: column;
          gap: 14px;
        }
      }

      .info-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        gap: 7px;
        margin-bottom: 10px;

        .label {
          font-weight: bold;
          font-size: 18px;
          color: $primary-red;
        }
        .value {
          font-weight: bold;
          color: $primary-black;
        }
      }
      .price-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        margin-bottom: 2px;

        .label {
          font-weight: bold;
          font-size: 18px;
          color: $primary-red;
        }
        .value {
          font-weight: bold;
          color: $primary-black;
        }
        .amount {
          font-size: 20px;
          font-weight: bold;
          color: $primary-black;
        }
        .amount-big {
          font-size: 34px;
          font-weight: bold;
          color: $primary-black;
        }
        .grand-total {
          margin: 15px 0;
        }
      }

    }

    .package-notes {
      margin-top: 30px;
      font-weight: 600;
      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        li {
          font-size: 16px;
          &:before {
            content: '★';
            color: $primary-red;
            font-size: 13px;
            margin-right: 8px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .validity {
      background: #dc3545;
      color: white;
      text-align: center;
      padding-bottom: 5px;
      display: block;
    }

    .contact-info {
      background: #000;
      color: white;
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1 1 0;
        width: 0;
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }
}

.download-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .btn1 {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    &:hover {
      background: #0056b3;
    }
  }
  .btn2 {
    background: #ff5e00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    &:hover {
      background: #b34200;
    }
  }

}
